:root {
    --mainDark: #171b1f;
    --mainGrey: rgba(109,109,109);
    --mainLightGrey: rgb(212, 212, 212);
    --mainWhite: #fff;
    --mainBlue: #007bff;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler {
    border: none;
}


